@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.homepage-wrapper {
  min-height: 100vh;
  background-image: url('../assets/homepage-image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.homepage-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .overlay-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #571a7c;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;

  }
  
  .description {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  footer {
    font-size: 1rem;
    padding: 20px;
    background-color:  rgba(17, 63, 103, 0.8);
    color: white;
  }
  