body, html 
{
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.image-container
{
  min-height: 100vh;
  background-image: url("../assets/Craftmaster-viewcraft.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding:20px;
}

.viewcraft-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.craft-box 
{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;        
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;         
  max-width: 100%;
  height: auto;              
  margin: auto;
}


.craft-img 
{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}
table th,
table td 
{
  vertical-align: middle !important;
  text-align: center;
}
.action-buttons 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.edit-button,
.delete-button 
{
  width: 100px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.edit-button 
{
  background-color: #007bff;
  color: white;
  border: none;
}

.delete-button
 {
  background-color: #dc3545;
  color: white;
  border: none;
}

@media (max-width: 768px) 
{
  .edit-button,
  .delete-button 
  {
    width: 80px;
    height: 34px;
    font-size: 13px;
  }
}